#wrapper{
  margin-left:auto;
  margin-right:auto;
width:960px;
}

nav {
  background: -webkit-linear-gradient(#F2E394, #F2AE72, #D96459);
  background: -o-linear-gradient(#F2E394, #F2AE72, #D96459);
  background: -moz-linear-graident(#F2E394, #F2AE72, #D96459);
  background: linear-gradient(#F2E394, #F2AE72, #D96459);
  position: absolute;
  left: 0;
  right: 0;
  padding: 30px;
  height: 60px;
  background-size: 100%;
  padding-bottom: 50px;
  border: 1px solid black;
  margin-top: -12px;
  white-space: nowrap;
}

ul, ul:focus{
  text-align: center;
  margin-top: -25px;
  white-space: nowrap;
  font-family: arial;
  font-size: 16px;
}

li {
  list-style-type: none;
  display: inline-block;
  padding-left: 200px;
  color: #588C7E;
}

a {
  color: #588C7E;
}

  a:link{
    color: #624837;
    font-family: arial;
    text-decoration: none;
  }

  a:hover {
  color: #8C4646;
  text-decoration: none;
  font-family: didot;
}

#header {
  display: inline-block;
  text-align: center;
  font-size: 80px;
  color: #8C4646;
  font-family: didot;
  margin-top: -30px;
  margin-left: 350px;
}

#color {
  border: 1px solid black;
}

#palette {
  float: left;
  clear: both;
  position: absolute;
  margin-top: 200px;
  display: inline-block;
  border-right: 1px solid grey;
  width: 200px;
}

#green {
  background-color: #588C7E;
  height: 100px;
  width: 100px;
  margin: 5px;
  border-radius: 5px;
  text-align: center;
  line-height: 100px;
  font-family: didot;
}

#yellow {
  background-color: #F2E394;
  height: 100px;
  width: 100px;
  margin: 5px;
  border-radius: 5px;
  text-align: center;
  line-height: 100px;
  font-family: didot;
}

#orange {
  background-color: #F2AE72;
  height: 100px;
  width: 100px;
  margin: 5px;
  border-radius: 5px;
  text-align: center;
  line-height: 100px;
  font-family: didot;
}

#red {
  background-color: #D96459;
  height: 100px;
  width: 100px;
  margin: 5px;
  border-radius: 5px;
  text-align: center;
  line-height: 100px;
  font-family: didot;
}

#copper {
  background-color: #8C4646;
  height: 100px;
  width: 100px;
  margin: 5px;
  color: white;
  border-radius: 5px;
  text-align: center;
  line-height: 100px;
  font-family: didot;
}

#palette > p {
  margin-left: 35px;
  color: grey;
  font-family: papyrus;
}

#fonts {
  float: right;
  margin-top: 200px;
  text-align: center;
  margin-right: 200px;
}

#fonts > p {
  color: grey;
  font-family: didot;
}

#fonts > p:nth-child(2) {
  font-family: Didot;
  font-size: 40px;
  color: black;
}

#fonts > p:nth-child(3) {
  font-size: 30px;
  color: black;
}


#fonts > p:nth-child(5){
  border-bottom: 1px solid grey;
}

#logo {
  margin-top: 100px;
}

img {
  margin-top: 10px;
  width: 200px;
  height: 200px;
}
